@import "reset.scss";

$width-mobile: 767px;
$width-tablet-from: 768px;
$width-tablet-to: 1199px;
$width-desktop-from: 1200px;
$width-desktop-to: 1399px;

$white: #fff;
$gray: #ddd;
$black: #333;
$hover: #24943c;


body {
  background: linear-gradient(to bottom, #aad595, #fbf9f8 275px);
  background-repeat: repeat-x;
  height: 100%;
  min-height: 100vh;
  font-family: Arial, "Arial Unicode MS", Helvetica, Sans-Serif;
  font-size: 14px;
  font-weight: 400;
  color: $black;
}

a {
  text-decoration: none;
  color: $black;
  &:hover {
    color: $hover;
  }
}
img {
  height: auto;
  max-width: 100%;
}
@media screen and (max-width: $width-mobile) {
  body {
    padding: 5px;
  }
}
.container {
  max-width: $width-desktop-to;
  margin: 0 auto;
}

.grid {
  .sidebar {
    background-color: $white;
    box-shadow: 1px 1px 3px $gray;
    padding: 15px;
    border-radius: 4px;
  }
  @media screen and (min-width: $width-tablet-from) {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    .main {
      width: calc(100% - 300px);
    }
    .sidebar {
      width: 300px;
    }
  }
}

header {
  max-width: $width-desktop-to;
  margin: 0 auto;
  .title {
    font-size: 28px;
    font-weight: 600;
    margin: 15px 0;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  ul {
    list-style: none;
    display: flex;
    gap: 10px;
  }
}
.article {
  background-color: $white;
  box-shadow: 1px 1px 3px $gray;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 16px;
  .title {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  .preview {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.5;
    color: $black;
    text-align: justify;
  }
  .description {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.5;
    color: $black;
    text-align: justify;
  }
}
